$width-container: 80%;
$width-laptop: 90%;

// Font Family
$font-title: "KhmerOsMoul";
$font-kantumruy: "Kantumruy";
$font-bayon: "Bayon";
$font-timeroman: "TimeRoman";

// Font Size
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-title: 16px;
$font-size-subtitle: 14px;
$font-size-body: 13px;

// ----------- color ------------
$primary-color: #988220;
$secondary-color: #faeeec;
$background-primary: linear-gradient(122deg, rgba(50, 74, 118, 1) 0%, rgba(9, 36, 83, 1) 87%);

@mixin desktop {
  @media (min-width: #{1025px}) and (max-width: #{1650px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{769px}) and (max-width: #{1024px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{426px}) and (max-width: #{768px}) {
    @content;
  }
}

@mixin mobile-large {
  @media (min-width: #{426px}) and (max-width: #{600px}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{377px}) and (max-width: #{425px}) {
    @content;
  }
}

@mixin mobile-small {
  @media (min-width : #{0px}) and (max-width: #{376px}) {
    @content;
  }
}