@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to left, #efdfd3, #f1e4d9, #f3e9df, #f5eee5, #f8f3ec, #f8f3ec, #f8f3ec, #f8f3ec, #f5eee5, #f3e9df, #f1e4d9, #efdfd3);

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ========================== Font family ====================== */
@font-face {
  font-family: KhmerOsMoul;
  src: url("../public/Fonts/KhmerMuolRegular.ttf");
}


@font-face {
  font-family: Preahvihear;
  src: url("../public/Fonts/Preahvihear.ttf");
}

@font-face {
  font-family: Kantumruy;
  src: url("../public/Fonts/Kantumruy-Regular.ttf");
}

@font-face {
  font-family: TimeRoman;
  src: url("../public/Fonts/Times-Roman.otf");
}

.bg-img{
  /* background-image: url("../public/Images/bride-and-groom.png"); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90vh; */
  /* background-position: 70% 22%; */
  background-size: 74%;
  padding: 10px;

}