@import "../themes.scss";

.home-page {
  width: 100%;
  // margin-top: 40px;

  .invitation-title {
    font-family: $font-title;
    font-size: $font-size-title;
    color: $primary-color;
    text-align: center;
    letter-spacing: normal !important;
  }
  .invitation-img {
    width: 200px;
    height: auto;
  }
  .invitation-des {
    font-family: $font-title;
    font-size: $font-size-subtitle;
    color: $primary-color;
    text-align: center;
    letter-spacing: normal !important;
  }
  .button-to-open {
    font-family: $font-title;
    font-size: $font-size-body;
    color: $primary-color;
    font-weight: 100 !important;
    border: 1px solid $primary-color;
    border-radius: 6px;
    padding: 10px 30px;
    letter-spacing: normal !important;
  }
}
