@import "../themes.scss";

.home-page {
  width: 100%;

  .top-card {
    position: relative;

    .invitation-img {
      width: 100%;
      height: 650px;
      object-fit: cover;
    }

    .empty-card-container {
      top: 0;
      position: absolute;
      width: 100%;
      height: 650px;
      opacity: 60%;
      // background-color: #bebdbd;
      background-color: #696868;
    }

    .card-footer-container {
      top: 0;
      position: absolute;
      width: 100%;
      height: 650px;
      opacity: 60%;

      .card-inside {
        width: 95%;
        border-radius: 10px;
        height: 300px;
        background-color: #696868;
      }
    }

    .footer-text-container {
      top: 0;
      width: 95%;
      height: 650px;
      position: absolute;

      .people-name {
        font-family: $font-bayon;
        font-size: 21px;
        color: $gold-color;
        text-align: center;
        letter-spacing: normal !important;
      }
    }

    .top-text-container {
      height: auto;
      top: 0;
      position: absolute;

      .invitation-title-top {
        font-family: $font-muolpali;
        font-size: 20px;
        color: $gold-color;
        text-align: center;
        letter-spacing: normal !important;
      }

      .invitation-title {
        font-family: $font-muolpali;
        font-size: $font-size-18;
        color: $gold-color;
        text-align: center;
        letter-spacing: normal !important;
      }

      .guest-container {
        position: relative;

        .guest-name {
          top: 0;
          position: absolute;
          margin-top: 26px;
          color: $gold-color;
          font-family: $font-muolpali;
          font-size: 16px;
        }
      }

      .people-name {
        font-family: $font-bayon;
        font-size: 21px;
        color: $gold-color;
        text-align: center;
        letter-spacing: normal !important;
      }

      .invitation-des {
        font-family: $font-bayon;
        font-size: 15px;
        color: $gold-color;
        text-align: center;
        letter-spacing: 0.5px !important;
      }
    }
  }

  .invite-title {
    font-family: $font-muolpali;
    font-size: 17px;
    text-align: center;
    letter-spacing: normal !important;
  }

  .invitation-title {
    font-family: $font-bayon;
    font-size: 17px;
    text-align: center;
    letter-spacing: normal !important;
  }

  .invitation-des {
    font-family: $font-kantumruy;
    font-size: $font-size-subtitle;
    text-align: center;
    letter-spacing: normal !important;
  }

  .line-top {
    width: 80%;
  }

  .invitation-address {
    font-family: $font-bayon;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.5px !important;
  }
}
