@import "../themes.scss";

.layout-container {
  width: 100%;
  display: flex;
  justify-content: center;
  // height: 800px;
  // background-image: linear-gradient(to left, #efdfd3, #f1e4d9, #f3e9df, #f5eee5, #f8f3ec, #f8f3ec, #f8f3ec, #f8f3ec, #f5eee5, #f3e9df, #f1e4d9, #efdfd3);

  .box-container {
    // background-color: red;
    // width: 50%;
    width: 100%;

    @include laptop {
      width: 80%;
      // background-color: red;
    }

    @include tablet {
      width: 90%;
    }

    @include mobile {
      width: 98%;
    }

    @include mobile-small {
      width: 98%;
    }
  }
}
