@import "../themes.scss";

.footer-page {

  // width: 100%;
  .box-container {
    // background-color: red;
    width: 50%;

    @include laptop {
      width: 60%;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }

    @include mobile-small {
      width: 100%;
    }

    .btn-container {
      width: 100%;
      bottom: 0;
      position: fixed;
      height: 50px;
      background-color: $primary-color;
      border-top: 2px solid gray;
      border-bottom: 2px solid gray;

      .link {
        height: 50px;
        width: 25%;
        padding: 14px 0px;
        font-family: $font-title;
        font-size: $font-size-body;
        font-weight: 100 !important;
        color: $secondary-color;
        text-align: center;
        // background-color: red;
      }
    }
  }
}