@import "../../themes.scss";

.map-page {
  width: 100%;
  // margin-top: 30px;

  .map-title {
    font-family: $font-title;
    font-size: $font-size-title;
    text-align: center;
    color: $primary-color;
  }
  .divider-bottom {
    border-top: 2px solid $primary-color;
    width: 180px !important;
  }
  .map-img {
    width: 400px;
    height: auto;
  }
  .btn-save-map {
    padding: 6px 20px;
    text-transform: uppercase;
    border: 2px solid $primary-color;
    font-weight: 100;
    border-radius: 6px !important;
    font-family: $font-timeroman;
    font-size: $font-size-body;
    color: $primary-color;
  }
}
