@import "../../themes.scss";

.map-page {
  width: 100%;
  padding: 100px 0px;

  .map-title {
    font-family: $font-title;
    font-size: $font-size-title;
    text-align: center;
    color: $primary-color;
  }
  .divider-bottom {
    border-top: 2px solid $primary-color;
    width: 50%;
  }
  .map-img {
    width: 400px;
    height: auto;
  }
}
