@import "../../themes.scss";

.auto-image {
  width: 100%;

  .invitation-title {
    font-family: $font-title;
    font-size: $font-size-subtitle;
    text-align: center;
    color: $primary-color;
  }
  .invitation-img {
    width: 300px;
    height: auto;
  }
  .wedding-family-title {
    width: 50%;
    font-family: $font-title;
    font-size: $font-size-body;
    text-align: center !important;
    color: $primary-color;
  }
  .wedding-family-name {
    width: 50%;
    font-family: $font-title;
    font-size: $font-size-subtitle;
    text-align: center;
    color: $primary-color;
  }
  .wedding-date{
    font-family: $font-title;
    font-size: $font-size-body;
    text-align: center !important;
    color: $primary-color;
  }
}
