@import "../../themes.scss";

.wish-page {
  width: 100%;
  padding: 100px 0px;

  .wish-title {
    font-family: $font-title;
    font-size: $font-size-title;
    text-align: center;
    color: $primary-color;
  }

  .divider-bottom {
    border-top: 2px solid $primary-color;
    width: 75%;
  }

  .btn-save {
    padding: 4px 30px;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 0px !important;
    background-color: $primary-color !important;
    font-family: $font-title;
    font-size: $font-size-body;
    // font-weight: 100 !important;
    color: $secondary-color;
    border-radius: 5px;
    text-transform: uppercase;
  }
}