@import "../../themes.scss";

.introduction-page {
  width: 100%;
  padding: 100px 0px;

  .invitation-title {
    font-family: $font-title;
    font-size: $font-size-title;
    text-align: center;
    color: $primary-color;
  }
  .invitation-img {
    width: 200px;
    height: auto;
  }
  .wedding-family-title {
    width: 50%;
    font-family: $font-title;
    font-size: $font-size-body;
    text-align: center !important;
    color: $primary-color;
    letter-spacing: normal;
  }
  .wedding-family-name {
    width: 50%;
    font-family: $font-title;
    font-size: $font-size-title;
    text-align: center;
    color: $primary-color;
    letter-spacing: normal;
  }
  .wedding-date {
    font-family: $font-title;
    font-size: $font-size-body;
    text-align: center !important;
    color: $primary-color;
    letter-spacing: normal;
  }
  .btn-save-date {
    padding: 6px 20px;
    text-transform: uppercase;
    border: 2px solid $primary-color;
    border-radius: 6px !important;
    font-family: $font-title;
    font-weight: bold;
    font-size: $font-size-body;
    color: $primary-color;
  }
}
